/* Login Section */
#login {
  justify-content: center;
  align-items: center;
  gap: 48px;
}

#login form {
  width: 100%;
  max-width: 400px;
  min-width: 280px;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--bs-body-bg);
  padding: 18px 12px;
  border-radius: 12px;
}

#login form h1 {
  text-transform: uppercase;
  font-family: "Changa One", sans-serif;
  font-size: clamp(44px, 6vw, 24px);
  color: #1E90FF;
  display: flex;
  align-items: center;
  gap: 6px;
}

#login form small {
  font-size: clamp(12px, 6vw, 12px);
  font-weight: 300;
}

#login form input,
#login form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #1877D6;
  border-radius: 12px;
  outline: none;
  background-color: transparent;
  font-weight: 300;
}

#login form input:focus,
#login form textarea:focus {
  border-color: #007bff;
}

#login form textarea {
  min-height: 120px;
  resize: none;
}

/* Add Project Section */
#addProject {
  justify-content: center;
  align-items: center;
  gap: 48px;
}

#addProject form {
  width: 100%;
  max-width: 400px;
  min-width: 280px;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--bs-body-bg);
  padding: 18px 12px;
  border-radius: 12px;
}

#addProject form h1 {
  text-transform: uppercase;
  font-family: "Changa One", sans-serif;
  font-size: clamp(44px, 6vw, 24px);
  color: #1E90FF;
  display: flex;
  align-items: center;
  gap: 6px;
}

#addProject form small {
  font-size: clamp(12px, 6vw, 12px);
  font-weight: 300;
}

#addProject form input,
#addProject form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #1877D6;
  border-radius: 12px;
  outline: none;
  background-color: transparent;
  font-weight: 300;
}

#addProject form input:focus,
#addProject form textarea:focus {
  border-color: #007bff;
}

#addProject form textarea {
  min-height: 120px;
  resize: none;
}
