.btn {
    color: #f2f2f2;
    outline: none;
    border: none;
    padding: 8px 12px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 16px;
}

.primary-btn {
    background-color: #1E90FF;
    color: #f2f2f2;
}

.primary-btn:hover {
    background-color: #1877d6;
    color: #f2f2f2;
}

.secondary-btn {
    border: 2px solid #1E90FF;
}

.secondary-btn.secondary-btn:hover {
    border: 2px solid #1E90FF;
    background-color: #1E90FF;
}

