.btn {
    color: #f2f2f2;
    outline: none;
    border: none;
    padding: 8px 12px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 16px;
    font-weight: 300;
}

.primary-btn {
    background-color: #1E90FF;
    color: #f2f2f2;
}

.primary-btn:hover,
.primary-btn:active {
    background-color: #1877d6 !important;
    color: #f2f2f2 !important;
}

.secondary-btn {
    border: 2px solid #1E90FF;
}

.secondary-btn:hover,
.secondary-btn:active {
    border: 2px solid #1E90FF !important;
    background-color: #1E90FF !important;
}

.transparent-btn {
    border: 2px solid transparent;
    color: var(--bs-body-color);
}

.transparent-btn:hover,
.transparent-btn:active {
    border: 2px solid transparent !important;
    background-color: transparent !important;
}

.danger-btn {
    color: #e74c3c;
}

.danger-btn:hover,
.danger-btn:active {
    background-color: #f2f2f2 !important;
    color: #e74c3c !important;
}

.message  {
    background-color: var(--bs-tertiary-bg);
    color: var(--bs-body-color);
    min-height: 180px !important;
    margin: auto;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    gap: 12px;
}

.message h1 {
    text-transform: uppercase;
    font-family: "Changa One", sans-serif;
    font-size: clamp(18px, 6vw, 38px);
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 0; 
    text-align: center;
}

.success-message h1 {
    color: #1e90ff;
}

.error-message h1 {
    color: #ff6347;
}

.message small {
    font-weight: 300;
    text-align: center;
}

.email-content {
    background-color: #1E90FF !important;
}

.email-content h1 {
    text-transform: uppercase;
    font-family: "Changa One", sans-serif;
    font-size: clamp(18px, 6vw, 38px);
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 0; 
    text-align: left;
}