/* Header */

header {
    background-color: #191919;
    color: #f2f2f2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 60px;
    display: flex;
    justify-content: center;
    padding: 0 24px;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Desktop */
@media (min-width: 1024px) {
    header .links-dropdown {
        display: none !important;
    }
}

/* Tablet + Mobile */
@media (max-width: 1023px) {
    header .links-container {
        display: none !important;
    }
}

header .logo-container img {
    width: auto;
    height: 48px;
    cursor: pointer;
}

header .links-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;    
}

header .links-container a {
    font-family: "Changa One", sans-serif;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
}

header .links-container a:hover {
    color: #1E90FF;
}

header .links-dropdown .btn {
    color: #f2f2f2;
    padding: 0;
    outline: none;
    border: none;
}

header .links-dropdown .dropdown-menu {
    padding: 8px;
    border-radius: 8px;
    background-color: #191919;
}

header .links-dropdown .dropdown-menu a {
    font-family: "Changa One", sans-serif;
    color: #f2f2f2;
    text-decoration: none;
    background-color: transparent;
}

header .links-dropdown .dropdown-menu a:hover {
    color: #1E90FF;
}