::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

* {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #242424;
  color: #f2f2f2;
  padding: 60px 24px 0 24px;
}

a, p, span, strong, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container-fluid {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.notes-container {
    height: calc(100vh - 180px);
    display: flex;
    gap: 48px;
    color: #f2f2f2;
    border-radius: 12px;
}

/* Mobile */
@media (max-width: 767px) {
    .notes-container {
        flex-direction: column;
        gap: 24px;
    }
}

/* Tablet - Up */
@media (min-width: 768px) {
    .notes-container {
        flex-direction: row;
    }
}

.note-form {
    display: flex;
    flex-direction: column;
    background-color: #191919;
    padding: 12px;
    border-radius: 8px;
    flex: 0 0 350px;
    height: 100%;
}

.note-form input[type="text"],
.note-form textarea {
    background-color: #242424;
    color: #f2f2f2;
    border: none;
    padding: 8px;
    margin-bottom: 12px;
    border-radius: 8px;
}

.note-form input[type="text"]:focus,
.note-form textarea:focus {
    outline: 2px solid #1E90FF;
}

.note-form textarea {
    resize: none;
    height: 100%;
}

.all-notes {
    display: flex;
    flex-direction: column; 
    gap: 12px;
    height: 100%;
}

.notes {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    overflow-y: auto;
    
}

.notes .note {
    background-color: #191919;
    padding: 16px;                   
    border-radius: 8px;
    flex: 1 1 260px;
    min-width: 260px;
    min-height: 140px;               
    max-height: 240px;              
    overflow: hidden;              
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
    transition: all 0.2s ease;      
    cursor: pointer;
}

.notes .note:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

.notes .note-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.notes .note .note-header h3 {
    margin: 0;
    font-size: 1.5rem;
    height: 2rem;
    overflow: hidden;
    color: #1E90FF;
}

.notes .note-header .dropdown .dropdown-menu {
    padding: 0 12px;
    background-color: #f2f2f2;
}

.notes .note-header .dropdown .dropdown-menu li a {
    background-color: #f2f2f2;
    outline: none;
    border: none;
    color: #191919;
}

.notes .note-header .dropdown .dropdown-menu li a:focus,
.notes .note-header .dropdown .dropdown-menu li a:hover {
    background-color: #f2f2f2;
    color: #191919;
}

.notes .note small {
    color: #888;
    font-size: 0.78rem;
}

.notes .note p {
    margin: 0;
    font-size: 1rem;
    height: 1.5rem;
    color: #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notes .note h3,
.notes .note p {
    word-break: break-word;
    overflow-wrap: break-word;
    hyphens: auto;                  
}

/* Edit Note Modal */

/* Login Modal */

.modal-content form .modal-header,
.modal-content form .modal-body,
.modal-content form .modal-footer {
    border: none;
    outline: none;
    background-color: #191919;
}

.modal-content form .modal-dialog {
    padding: 20px;
}

.modal-content form div input,
.modal-content form div textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid transparent;
    border-radius: 12px;
    color: #f2f2f2;
    background-color: transparent;
}

.modal-content form div input:focus,
.modal-content form div textarea:focus {
    border: 1px solid #1E90FF;
    outline: none;
    background-color: transparent;
    color: #f2f2f2;
}

.modal-content form div textarea {
    min-height: 480px;
    resize: none;
}

.modal-content form button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.modal-content form button:hover {
    background: #0056b3;
}
